data:
    data_root: "/home/xieliang/Data"
    trained_transducer: "/home/xieliang/Data/transducer.pth"          
    trained_ctc: "/home/xieliang/Data/ctc2_test.pth"                        
    trained_lm: ''   
    vocabSize: 41            # the vocab includes '<pad>' and '<blank>' tokens
    blank_idx: 1             # the index of '<blank>' token in vocabulary
    pad_idx: 0               # the index of '<pad>' token in vocabulary
model:
    ctc:
        nhid: 128
        nlayer: 1
    lm:
        nemd: 128
        nhid: 128
        nlayer: 2
        tie_embedding: True
    transducer:
        encoder_nout: 256
        decoder_nout: 256
        nhid: 256        
training:
    BSZ: 8
    lr: 0.0001
    momentum: 0.9
    weight_decay: 0